/* Theme by Herly Chahya Putra */

body {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

* {
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

*:focus {
  outline: 0 !important;
}

a {
  -webkit-transition: color 0.24s ease-in-out;
  -moz-transition: color 0.24s ease-in-out;
  -o-transition: color 0.24s ease-in-out;
  -ms-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
  color: #6dbcdb;
}

a:hover {
  text-decoration: none;
  color: #ee4d2d;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.root {
  width: 100%;
  background-color: #fff;
}

/* MULAI HEADER */

#main-nav-container {
  width: 100%;
  padding: 0 0 0;
  #background: #35424f;
  background: #ee4d2d;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#main-nav-container.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0;
  #padding-top: 45px;
  -webkit-backface-visibility: hidden;
}

#header {
  #background: #35424f;
  #background: linear-gradient(-180deg, #f53d2d, #f63);
  color: #f9f8f4;
}

/* END HEADER */

/* HEADER TOP */

#header-top {
  #background: #2d3845;
  #border-top: 4px solid #fd5c48;
  height: 40px;
  font-size: 14px;
  display: block;
}

#header-top .header-text,
#header-top .header-link {
  line-height: 36px;
  margin-right: 10px;
  display: inline;
}

#header-top .header-text i {
  margin: 0 0 0 5px;
  color: #fff;
}

#header-top .header-text-container {
  margin-right: 0px;
}

#header-top .header-link a {
  color: #ffffff;
  text-decoration: none;
}

#header-top .header-link a:hover {
  color: #7f7d74;
  text-decoration: none;
}

#inner-cart {
  #padding-top: 10px;
  background-color: #fff;
}

.main-header #inner-header {
  padding-top: 0px !important;
}

.keranjang-name {
  #margin-left: 0.9375rem;
  #margin-left: -80px;
  border-left: 0.0625rem solid #ee4d2d;
  color: #ee4d2d;
  font-size: 1.25rem;
  line-height: 1.875rem;
  height: 2rem;
  padding-left: 0.9375rem;
  margin-bottom: 0.0625rem;
  text-transform: capitalize;
  margin-top: 7px;
}

/* END HEADER TOP */

.main-header #inner-header {
  padding-top: 10px;
}

.main-header #inner-header .logo-container,
#inner-header .header-inner-right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-header .user-menu-container {
  display: none;
}

/* MULAI DROPDOWN CART */

.main-header .dropdown-cart-menu-container {
  right: 20px;
  margin-top: 0px;
  top: 7px;
}

.dropdown-cart-menu-container {
  padding-bottom: 0px;
  position: relative;
}

.dropdown-cart,
.quick-search-form {
  float: right;
}

.icon-dekstop-top-hide,
.mobile-view {
  display: none;
}

.dropdown-cart {
  margin-left: 6px;
}

#header .dropdown-cart-menu-container .dropdown-cart > .btn {
  color: #fff;
}

#header .dropdown-cart-menu-container .dropdown-toggle {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

#header .dropdown-cart-menu-container .btn,
.quick-search-form .btn {
  #padding: 7.5px 10px;
  border-radius: 0;
  border: none;
}

#header .dropdown-cart-menu-container .dropdown-toggle::after {
  display: none;
}

#lblCartCount {
  font-size: 12px;
  background: #fff;
  color: #ee4d2d;
  padding: 0 5px;
  vertical-align: top;
  margin-top: -5px;
  margin-left: -15px;
  border-radius: 15px;
}

.btn .badge {
  top: -1px;
  margin: 0 0.3em;
}

.dropdown-cart-menu-container:hover .dropdown-menu {
  display: block;
}

.dropdown-cart {
  margin-left: 6px;
}

#header .dropdown-cart .dropdown-cart-menu {
  min-width: 400px;
  margin-top: 8px;
  border-top: 3px solid #ffffff;
  background: #fff;
  padding: 10px 20px 10px 20px;
  left: auto;
  right: 0;
  animation: popover-muncul 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  border-radius: 5px;
}

#header .dropdown-cart .dropdown-bell-menu {
  min-width: 250px;
  margin-top: 8px;
  border-top: 3px solid #ffffff;
  background: #fff;
  padding: 10px 20px 10px 20px;
  left: auto;
  right: -105px;
  animation: popover-muncul 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  border-radius: 5px;
}

#header .dropdown-cart .dropdown-bell-menu::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d8";
  font-size: 35px;
  color: #ffffff;
  top: -25px;
  position: absolute;
  right: 120px;
  left: auto;
}

.bg-utama {
  background-color: #ee4d2d;
  color: #fff;
}

.bg-utama:hover {
  color: #fff;
}

.dropdown-cart-menu-container .cart-menu-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f07a";
  font-size: 1.5em;
}

.icon-shopping-cart {
  font-size: 1.5em;
}

#header .dropdown-cart .dropdown-cart-menu::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d8";
  font-size: 35px;
  color: #ffffff;
  top: -32px;
  position: absolute;
  right: 12px;
  left: auto;
}

#header .dropdown-cart .dropdown-cart-menu {
  #animation: popover-hilang 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  #transition: all 0.3s;
}

.dropdown-cart,
.quick-search-form {
  float: right;
}

.user-lesft {
  border-color: white !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-radius: 50px !important;
}

.dropdown-cart .dropdown-cart-description {
  margin-bottom: 10px;
  color: #7b7b7b;
}

.dropdown-cart .dropdown-bell-description {
  margin-bottom: 10px;
  color: #7b7b7b;
  text-align: center;
}

.dropdown-cart .item {
  border: none;
}

.dropdown-cart .empty {
  margin: 0;
}

.dropdown-cart .dropdown-cart-product-list {
  margin-bottom: 5px;
  list-style-type: none;
}

.dropdown-cart .dropdown-cart-product-list li.item {
  position: relative;
  margin-bottom: 0px;
  padding: 0;
}

.dropdown-cart .dropdown-cart-product-list figure {
  width: 85px;
  float: left;
  #margin-right: 10px;
  margin-right: 0px;
}

.dropdown-cart .dropdown-cart-product-list figure a {
  display: inline-block;
  width: 100%;
}

.dropdown-cart .dropdown-cart-product-list figure img {
  max-width: 100%;
  display: block;
  height: 60px;
  width: 60px;
}

.dropdown-cart .dropdown-cart-product-list .edit-item,
.dropdown-cart .dropdown-cart-product-list .delete-item {
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 0;
  color: #828886;
  font-weight: 300;
}

.dropdown-cart .dropdown-cart-product-list .edit-item {
  font-size: 13px;
}

.dropdown-cart .dropdown-cart-product-list .delete-item {
  right: 0;
}

.dropdown-cart .dropdown-cart-product-list .edit-item {
  right: 18px;
}

.dropdown-cart .dropdown-cart-product-list .edit-item:hover,
.dropdown-cart .dropdown-cart-product-list .delete-item:hover {
  color: #6dbcdb;
}

.dropdown-cart .dropdown-cart-product-list .item-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.dropdown-cart .dropdown-cart-product-list .dropdown-cart-details {
  float: left;
  #width: 160px;
  padding-right: 20px;
}

.dropdown-cart .dropdown-cart-product-list .dropdown-cart-details .item-price {
  font-size: 16px;
  color: #fd5c48;
  font-weight: bold;
  padding-left: 1px;
}

.dropdown-cart-action {
  float: right;
}

.dropdown-cart-action > p {
  margin-bottom: 3px;
  #width: 100px;
}

.dropdown-cart-action .btn {
  border-radius: 0px !important;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  padding: 6px 12px;
}

.dropdown-cart-total {
  float: left;
  margin-top: 10.5px;
  width: 150px;
}

.dropdown-cart-total li {
  font: 700 15px/18px "PT Sans", sans-serif;
  color: #6dbcdb;
  margin-bottom: 6px;
}

.dropdown-cart-total li .dropdown-cart-total-title {
  text-transform: uppercase;
  color: #575a59;
  margin-right: 4px;
}

.dropdown-cart-total li .sub-price {
  color: #6dbcdb;
}

.btn-oren {
  color: #fff !important;
  background-color: #ee4d2d;
  border-color: #ee4d2d;
  text-transform: uppercase;
}

.main-header #show .input-group-btn {
  margin-left: -5px;
}

.main-header #show {
  display: none;
  #margin-left: -5px;
}

/* END HEADER CART */

/* MULAI FORM SEARCH ATAS */

.main-header .header-inner-right .input-group {
  #width: 90%;
  margin-bottom: 0px !important;
}

.main-header .header-inner-right .input-cart-search {
  width: 100%;
  margin-bottom: 10px;
}

.card-product,
.animate-ease {
  transition: all 1s ease, color 1s ease;
}

.logo-container-2 {
  display: block;
  #top: -15px;
  padding: 10px 0 10px 0;
}

.keranjang-name a {
  display: none;
}

.main-header  .input-cart-search-2 {
  width: 100%;
  margin-bottom: 10px;
  #top: -10px;
  padding: 0;
  border: 2px solid #ee4d2d;
}

.search-cart-header {
  padding: 10px 0 10px 0;
}

.main-header .btn-border-oren {
  color: #fff;
  background: #ee4d2d !important;
  border-radius: 0px;
  padding: 6px 30px !important;
}

.container-login {
  height: 100vh;
  position: relative;
}

.center {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #ee4d2d;
}

.main-header .form-control:focus {
  border-color: white;
  box-shadow: 0 0 0 0 white;
}

.input-group {
  #margin-bottom: 25px;
  #top: 4px;
}

.main-header .header-inner-right .input-group-btn {
  margin-left: -5px;
}

.main-header .btn-default.active {
  background: white !important;
  box-shadow: inset 0 0px 0px;
}

.input-group-btn > .btn {
  padding: 6px 15px;
}

.border-none {
  border: none !important;
  outline: none !important;
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  border-radius: 3px;
  border-color: #dcdcdc;
  height: 38px;
  padding: 7px 12px;
}

/* END FORM SEARCH ATAS */

/* CONTENT */

#content {
  padding-top: 80px;
  padding-bottom: 50px;
  #overflow: hidden;
  overflow-y: scroll;
}

.home-banners {
  position: fixed;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px !important;
  }
}

#slider-rev-container {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  background: #d9d9d9;
}

.carousel-indicators {
  left: 0;
  position: absolute;
  margin-bottom: 4px;
  text-align: center;
  justify-content: center;
  bottom: 0.25rem;
}

.carousel-indicators li {
  width: 0.65rem;
  height: 0.65rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 50%;
}

.carousel-indicators .active {
  width: 0.65rem;
  height: 0.65rem;
  padding: 0;
  background-color: #ee4d2d;
  border-radius: 50%;
}

.carousel .carousel-item {
  height: 150px;
}

.fixed {
  position: fixed;
  width: 25%;
}
.scrollit {
  float: left;
  width: 71%;
}

.user-sidebar {
  width: 320px;
}

.word-wrap{word-wrap: break-word;}

#modal-following, #modal-follower {
  display: none;
  background-color: rgba(149, 165, 166, 0.8);
  //width: 500px;
  //margin: 20px auto;
  /*border: 2px solid #777;*/
  //background-color: grey;
  //opacity: 0.7;
}

.profile-page {
  padding-top: 150px !important;
  padding-bottom: 50px;
  overflow-y: scroll;
}

.modal-popup{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#thumb {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #555;
}

#big {
  width: 100%;
}

.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 150px;
}

.home-banners a {
  display: block;
  margin-bottom: 20px;
}

#content .img-140px {
  max-width: 100%;
  display: block;
  height: 140px;
}

.img-responsive {
  width: 100%;
}

/* END CONTENT *|

/* ANIMATE */

@keyframes popover-muncul {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popover-hilang {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

/* END ANIMATE */

/* START WEBKIT */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/*add a shadow to the scrollbar here*/
::-webkit-scrollbar-track:vertical {
  -webkit-box-shadow: inset 0 0 0px rgb(30, 62, 150);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/*this is the little scrolly dealio in the bar*/
::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  background: #4353ff;
  height: 15px;
}
/*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
::-webkit-scrollbar-corner:vertical {
  display: none;
  height: 0px;
  width: 0px;
}

/* END WEBKIT */

.wrapper-category {
  position: relative;
  width: auto;
  height: 200px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.container-category {
  position: absolute;
  height: 200px;
}
.contentContainer {
  width: 182px;
  //height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px !important;
  display: inline-block;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}

.green {
  background-color: green;
}
.black {
  background-color: black;
}
.grey {
  background-color: grey;
}

.left {
  float: left;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  border-color: #fff;
  margin-top: 80px;
}
.right {
  float: right;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  border-color: #fff;
  margin-top: 80px;
}

.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-1 {
  flex-grow: 1;
}

/* -- Nav */
nav {
  width: 100%;
  max-width: 480px;
  background-color: #ee4d2d;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
nav ul {
  list-style-type: none;
  padding: 0px;
}
nav li {
  display: inline-flex;
  width: 20%;
  margin-right: -4px;
}
nav a {
  height: 50px;
  width: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}
nav a:hover i {
  transition: all 0.4s;
  color: #1a237e;
}
nav a i,
nav a img {
  position: absolute;
  z-index: 3;
}
##nav a i:after {
  content: "";
  background-color: blue;
  position: absolute;
  transform: rotate(15deg);
  right: 0;
  bottom: 0;
  left: -5px;
  height: 1px;
  z-index: 4;
}
nav a i:before {
  color: white;
}
nav a span {
  color: #1a237e;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
  transform: translateY(20px);
  position: relative;
}
nav a span:first-letter {
  text-transform: capitalize;
}
nav a span:after {
  content: "";
  background-color: #1a237e;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: flex;
  left: calc(50% - 2.5px);
  top: 30px;
  transform: scale(0);
  opacity: 0;
}
##nav a:after {
  content: "";
  background-color: blue;
  position: absolute;
  transform: rotate(15deg);
  right: -2px;
  bottom: -14px;
  left: -8px;
  height: 50px;
  z-index: 2;
}
nav a.isActive i {
  transform: translateY(-40px);
  transition: all 0.8s;
}
nav a.isActive i:after {
  transition: all 0.6s;
  height: 32px;
}
nav a.isActive span {
  transform: translateY(0);
  transition: all 0.4s ease-in;
}
nav a.isActive span:after {
  transition: all 0.8s ease;
  transform: scale(1);
  opacity: 1;
}
nav a.isActive:after {
  height: 10px;
  transition: height 1s;
}
nav a.notActive i {
  transform: translateY(0);
  transition: all 0.8s;
}
nav a.notActive i:after {
  transition: all 0.6s;
  height: 1px;
}
nav a.notActive span {
  transform: translateY(20px);
  transition: all 0.4s ease-in;
}
nav a.notActive span:after {
  transition: all 0.8s ease;
  transform: scale(0);
  opacity: 1;
}
nav a.notActive:after {
  height: 50px;
  transition: height 1s;
}
nav .material-icons-outlined {
  color: #7986cb;
  font-size: 32px;
}
